:root {
  --nav-box-shadow-color: rgba(64, 133, 175, 0);
  --nav-box-shadow-color-hover: rgba(64, 133, 175, 0.35);
  --nav-box-shadow-color-selected: rgba(255, 255, 255, 0.05);

  --text-shadow-color: rgba(255, 255, 255, 0.3);

  /* header */
  --header-bg-color: var(--grey-med3);
  --header-bdr-color: var(--grey-light2);
  --header-title-bg-color: var(--grey-med2);
  --header-title-bdr-color: var(--grey-light2);
  --header-title-text-color: var(--grey-dark);
  /* header : nav */
  --header-nav-bg-color: transparent;
  /* header : nav : categories */
  --nav-bg-color: transparent;
  --nav-bg-color-hover: var(--grey-med2);
  --nav-bg-color-selected: var(--secondary-desaturated-light);
  --nav-text-color: var(--primary-med);
  --nav-text-color-hover: var(--grey-light3);
  --nav-text-color-selected: var(--secondary-dark);
  --nav-bdr-color: transparent;
  --nav-bdr-color-hover: var(--primary-med);
  --nav-bdr-color-selected: var(--secondary-desaturated-dark);
  --nav-box-shadow: 0 0 40px var(--nav-box-shadow-color);
  --nav-box-shadow-hover: 0 0 40px var(--nav-box-shadow-color-hover);
  --nav-box-shadow-selected: 0 0 40px var(--nav-box-shadow-color-selected);
  --nav-transition: box-shadow .5s, border-color .6s, color .6s;
  --nav-transition-hover: box-shadow .8s, border-color .1s, color .2s;
  --nav-transition-selected: box-shadow .1s, border-color .1s, color .2s;

  /* body */
  --body-bg-color: var(--grey-light2);
  /* body : nav */
  --body-nav-bg-color: var(--grey-med3);
  --body-nav-bdr-color: var(--grey-light3);

  /* code */
  --code-bg-color: var(--grey-light3);
  --code-bdr-color: var(--primary-med);
  --code-box-shadow-color: var(--primary-light3);
  --code-box-shadow: 0 0 30px var(--code-box-shadow-color);

  /* text */
  --text-color: var(--grey-dark);
  --link-text-color: var(--primary-med);
  --h-text-color: var(--secondary-dark);
  --h1-text-color: var(--primary-dark);
  --h1-bg-color: var(--primary-desaturated-med);
  --h2-text-color: var(--primary-med);
  --h2-bg-color: var(--primary-desaturated-light);
  --h3-text-color: var(--primary-desaturated-dark);
  --h-small-text-shadow-color: var(--text-shadow-color);
  --h-small-text-shadow: 0 0 6px var(--h-small-text-shadow-color);
}
