/* container */

.container {
  user-select: none;
  height: 100%;
}

/* nav */

.navList {
  margin: 0;
  padding: 0;
}

.navListItem {
  font-family: var(--content-nav-font-family);
  font-size: var(--content-nav-font-size);
  text-transform: var(--content-nav-text-transform);
  padding: 10px 20px;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  border-style: solid;
  border-width: 1px 0 1px 0;
  composes: navListItem from "../../../index.module.css";
}

/* this doesn't work in css modules */
/*.navListItem:hover {*/
  /*composes: navListItemHover from "../../../index.module.css";*/
/*}*/
.navListItem:hover {
  background-color: var(--nav-bg-color-hover);
  border-color: var(--nav-bdr-color-hover);
  color: var(--nav-text-color-hover);
  box-shadow: var(--nav-box-shadow-hover);
  transition: var(--nav-transition-hover);
}

.navListItemSelected {
  composes: navListItemSelected from "../../../index.module.css";
}
